@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    background: cornsilk;
    background-image: url('./logo.jpg');
    background-repeat: no-repeat; 
    background-position: center;
}
